language: cpp
dist: xenial
compiler: g++
sudo: required

before_install:
  - sudo apt-get update
  - sudo apt-get -y remove postgres* mysql-server* #not update postgres* mysql-server*
  - sudo apt-get -y dist-upgrade 

install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo add-apt-repository -y ppa:beineri/opt-qt-5.12.6-xenial
  - sudo apt-get -qy update
  - sudo apt-get install -qq g++-8 gcc-8
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 90
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 90
  - sudo apt-get install -qq qt512-meta-minimal
  - sudo apt-get install -qq libx11-xcb-dev libglu1-mesa-dev
  - sudo update-alternatives --install /usr/bin/qmake qmake /opt/qt512/bin/qmake 90
  - export QT_DIR=/opt/qt512
  - export PATH=$QT_DIR/bin/:$PATH
  - sudo apt-get install libnetcdf-dev libnetcdf11
  
before_script:
  - gcc --version
  - g++ --version
  - qmake -v

script: 
    - bash deploy/build.sh
    
after_success:
    - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
    - bash upload.sh *.AppImage*

